/* body {
	text-align: center;
} */
.container {
	/* text-align: center; */
	/* background-color: purple; */
	/* background-color: purple; */
}
.container .game-canvas {
	display: block;
	margin: 0px auto;
	background: black;
	/* border: 3px white; */
}