
.block {
	/* width: 300px; */
	/* height: 600px; */
	height: 1000px;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	margin: 5px;
}

.channels, .players {
	width: calc(20% - 20px);
}
.messages {
	width: calc(60% - 20px);
}

.main-container {
	font-family: monospace;
}



.channels {
	/* background-color: red; */
	background-color: #1e1e1e;
}

.messages {
	background-color: rgb(255, 0, 0);
}

.players {
	background-color: green;
}

/* Channels styling */
.block.channels .content .general .chat {
	background-color: #1e1e1e;
	text-align: left;
	/* width: 100%; */
	height: 5%;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: grey 1px solid;
}
.block.channels .content .general .chat.selected {
	background-color: #323232;
}
.block.channels .content .general .chat:hover {
	background-color: #545454;
	cursor: pointer;
}
.block.channels .content .general .chat p {
	margin: 0;
	margin-left: 5px;
	/* color: white */
}
.block.channels .content .add {
	height: 30px;
	background-color: #27ae60;
	border: 0;
	margin-bottom: 5px;
	margin: 5px;
	width: 46%;
	color: white;
	/* font-family: ; */
	cursor: pointer;
	text-transform: uppercase;
}
.block.channels .content .general .options {
	left: 90%;
	height: 30px;
	width: 30px;
}
.block.channels .content .general .chat .title {
	color: white;
}
.block.channels .content .general .chat.error {
	color: white;
	height: 60px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
}
.block.channels .content .general .chat .type {
	color: grey;
}

.block.channels .general .chat.crossection {
	background-color: #7a7a7a;
	text-align: center;
}

.block.channels > .title h1 {
	color: white;
}

.block.channels > .title {
	background-color: #8e44ad;
	height: 10%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
}







/* Players styling */
.block.players > .title h1 {
	color: white;
}
.block.players > .title {
	background-color: #8e44ad;
	height: 10%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
}
.block.players .content .Collapsible {
	position: relative; /* This property is added to make the player-box a containing block for absolutely positioned elements */
	background-color: #1e1e1e;
	text-align: left;
	color: white;
	/* width: auto; */
	/* height: 5%; */
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: grey 1px solid;
	padding-left: 5%;
}
.block.players .content .Collapsible__trigger {
	background-color: transparent;
	border: none;
	cursor: pointer;
}
.block.players .content .Collapsible .options {
	position: absolute; /* This element will be positioned absolutely relative to the player-box element */
	left: 90%; /* This will position the left edge of the options element 90% of the way across the player-box element */
	top: 0; /* This will position the top edge of the options element at the top of the player-box element */
	background-color: transparent;
	border: none;
}
.block.players .content .Collapsible .menu {
	color: #8e44ad;
	max-width: 100px;
}
.block.players .content .Collapsible__contentOuter {
	background-color: #1e1e1e;
}
.block.players .content .Collapsible__contentInner .buttons {
	max-height: 300px;
	/* Center childs in middle of player-box */
	display: flex;
	flex-direction: column;
}
.block.players .content .Collapsible__contentInner .action-button {
	/* background-color: #8e44ad; */
	width: 70%;
	height: 20px;
	/* Center in middle of player-box */
	margin: 0 auto;
	margin-top: 5px;
	margin-bottom: 5px;
	border: none;
	color: white;
	cursor: pointer;
	text-transform: uppercase;
}
.block.players .content .Collapsible__contentInner .buttons .add-block {
	display: flex;
	/* flex-direction: row; */
	/* align-items: center; */
	/* justify-content: space-between; */
}
.block.players .content .Collapsible__contentInner .action-button.add,
.block.players .content .Collapsible__contentInner .action-button.block {
	width: 20%;
}
.block.players .content .Collapsible__contentInner .buttons .mute-kick {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.block.players .content .Collapsible__contentInner .action-button.mute,
.block.players .content .Collapsible__contentInner .action-button.kick {
	width: 20%;
}

/* Chat Boxes */

.block.messages {
	position: relative;
}

.block.messages .box {
	/* position: relative; */

	background-color: #ddd;
	border-radius: 20px;
	/* margin: 10px; */
	padding: 10px;
	/* margin: 10px 0; */
	text-align: left;
	font-size: 15px;
	/* width: 50%; */
  }

.block.messages .box {
	border: 2px solid #dedede;
	background-color: #f1f1f1;
	border-radius: 10px;
	padding: 10px;
	margin: 20px;
}

/* Darker chat container */
.block.messages .box.right {
	border-color: #ccc;
	background-color: #ddd;
	/* float: right; */
	text-align: right;
}
  
/* Clear floats */
.block.messages .box::after {
	content: "";
	clear: both;
	display: table;
}
  
/* Style images */
.block.messages .box img {
	float: left;
	max-width: 60px;
	width: 100%;
	margin-right: 20px;
	border-radius: 50%;
}
  
/* Style the right image */
.block.messages .box img.right {
	float: right;
	margin-left: 20px;
	margin-right:0;
}
  
/* Style time text */
.time-right {
	float: right;
	color: #aaa;
}
  
/* Style time text */
.time-left {
	float: left;
	color: #999;
}

.block.messages {
	flex-direction: column;
	overflow-y: scroll;
	overflow-x: hidden;
	/* position: relative; */
}

.block.messages .box {
	/* display: flex; */
	/* overflow-y: auto; */
}

.block.messages .chat-box {
	/* position: relative; */
}

.block.messages .input{
	position: fixed;
	color: black;
	/* background-color: red; */
	width: 90%;
	/* left: 0px; */
	height: 50px;
	font-size: 25px;
	/* bottom: 0px; */
	bottom: 0;
	left: 0;
	right: 0;
}


/* button */
.block.messages .button {
	position: fixed;
	color: pink;
	background-color: blue;
	/* right: 0px; */
	width: 9%;
	height: 57px;
	/* bottom: 0px; */
	bottom: 0;
	right: 0;
}