.friends .friendblock {
	width: 300px;
	height: 350px;
	text-align: center;
	outline: 5px solid black;
	display: inline-block;
	margin: 10px;
}

.friends .friendblock .avatar {
	width: 200px;
	height: 200px;
	box-shadow: 0 0 0 3pt black;
	background-color: #323232;
	border-radius: 2pt;
	/* margin-bottom: 10px; */
}

.friends .friendblock .status {
	width: 80%;
	margin-top: 10px;
	height: 50px;
	margin-left: 10%;
	position: relative;
}

.friends .friendblock .denied {
	background-color: #e74c3c;
	display: inline-block;
	right: 0px;
	position: absolute;
	width: 49%;
	height: 100%;
	border-radius: 5px;
	/* cursor: pointer; */
}

.friends .friendblock .accept {
	background-color: #27ae60;
	display: inline-block;
	position: absolute;
	width: 49%;
	left: 0px;
	height: 100%;
	border-radius: 5px;
	/* cursor: pointer; */
}

.friends .friendblock .denied:hover {
	transition: 0.3s;
	background-color: #b94a30;
}

.friends .friendblock .accept:hover {
	background-color: #1f8b4d;
	transition: 0.3s;
}

.friends .friendblock .accept:active, .friends .friendblock .denied:active, .friends .friendblock .status .remove:active {
	transform: translateY(4px);
}

.friends .friendblock .pending {
	position: absolute;
	background-color: darkgray;
	width: 185px;
	height: 100%;
	border-radius: 5px;
}

.friends .friendblock .status .remove {
	position: absolute;
	right: 0px;
	background-color: #e74c3c;
	width: 50px;
	height: 100%;
	border-radius: 5px;
}

.friends .friendblock .status .active {
	position: absolute;
	background-color: #332FD0;
	color: white;
	width: 185px;
	height: 100%;
	border-radius: 5px;
}

.friends .friendblock .status .remove:hover {
	transition: 0.3s;
	background-color: #b94a30;
}

.friends .friendblock .status .remove img {
	margin-top: 10px;
	width: 30px;
	height: 30px;

}

.friends .friendblock .accept img, .friends .friendblock .denied img, .friends .friendblock .pending img {
	margin-top: 10px;
	width: 30px;
	color: white;
}