:root{
  --accent-color: #00ffff;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url(background.jpg);
  background-size: 100%;
  font-family: 'Press Start 2P', cursive;
  line-height: 1.4;
  color: #fff;
}

.container{
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  margin-top: 5%;
}

.logo {
  max-width: 300%;
  height: 200px;
  size: 100%;
}

ul{
  list-style-type: none;
}

li{
  margin-bottom: 16px;
}

a{
  color: #fff;
  text-decoration: none;
}

a:hover{
  color: var(--accent-color);
}

.board{
  display: flex;
  flex-direction: row;
}

.game-area{
  padding: 12px;
  position: relative;
}

.game-data{
  padding: 12px;
  width: 240px;
}

h1{
  font-size: 36px;
  margin-bottom: 16px;
}

p{
  font-size: 16px;
  margin-bottom: 20px;
}

/*ALERT*/

.game-alert{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-alert-message{
  font-size: 40px;
  padding: 20px;
  background-color: var(--accent-color);
}
