.profile .games th {
	background-color: #616161;
	color: white;
}

  .profile .games th, td {
	padding: 15px;
	text-align: center;
}

.profile .won {
	background-color: #2ecc71;
}

.profile .lost {
	background-color: #c0392b;
}

.profile .draw {
	background-color: #f1c40f;
}

.profile .clickable {
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}

.profile .profile-pic {
	/* max-width: 800px;
	max-height: 800px; */
	width: 200px;
	height: 200px;
	border-radius: 50%;
	outline: 3px solid black;
}

.profile .profileblock .avatar {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	outline: 3px solid black;
	background-color: gray;
}



/* .profile {

}

.profile .profileblock {
	width: 250px;
	height: 250px;
	border-radius: 50%;
	border: 3px solid black;
	background-color: lightgray;

	overflow: hidden;
}


.profile .profileblock .avatar {
	width: 100%;
	height: 100%;
}








.profile .games th {
	background-color: #616161;
	color: white;
}

  .profile .games th, td {
	padding: 15px;
	text-align: center;
}

.profile .won {
	background-color: #2ecc71;
}

.profile .lost {
	background-color: #c0392b;
}

.profile .draw {
	background-color: #f1c40f;
}

.profile .clickable {
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}

.profile .profile-pic {
	/* max-width: 800px;
	max-height: 800px; */
	/*width: 200px;
	height: 200px;
	border-radius: 50%;
	outline: 3px solid black;
	background-color: gray;
} */


.profile .background {
	background-image: url('./images/background.jpg');
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	bottom: 0px;
	top: 0px;
	left: 0px;
	right: 0px;
}
