.profile .games th {
	background-color: #616161;
	color: white;
}

  .profile .games th, td {
	padding: 15px;
	text-align: center;
}

.profile .won {
	background-color: #2ecc71;
}

.profile .lost {
	background-color: #c0392b;
}

.profile .draw {
	background-color: #f1c40f;
}

.profile .clickable {
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}

.profile .profile-pic {
	/* max-width: 800px;
	max-height: 800px; */
	width: 200px;
	height: 200px;
	border-radius: 50%;
	outline: 3px solid black;

}