body {
	background-color: #61371F;
	margin: 0;
	height: 100%;
}

.title {
	position: fixed;
	/* left: 47%; */
	top: 7%;
	/* transform: translate(-50%, -50%); */
	margin: 0 auto;
	color: white;
	font-size: 30px;
}

.darker-dirt {
	/* Set in middle of screen */
	margin-top: 5%;
	margin-bottom: -5%;
	/* margin-bottom: 10%; */
	height: 80%;
	width: 100%;
	background-color: #351b0c;
}